<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<h1>
    <a>글 목록</a>
</h1>


<body>
<table border=1>
<div>
    <thead>
        <tr>
            <th>#</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="content : ${contents}">
            <a th:href="@{/contents/view/(id=${content.id})}" th:text="${content.writer}   "></a>
            <a th:href="@{/contents/view/(id=${content.id})}" th:text="${content.title}   "></a>
            <a th:href="@{/contents/view/(id=${content.id})}" th:text="${content.date}"></a>
        </tr>
    </tbody>
</div>
    <a th:href="@P{/}">메인 페이지</a>
</table>
</body>
